body{
    height: 100vh;
    background-image: url('../img/pexels-photo-65437.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:center;
    background-origin: initial;
    background-color: rgb(0, 0, 0);
    font-family: Tahoma, Geneva, sans-serif;
  }
  
.myDIV {
    height:2000px;
    background-color:#0000006f;
    margin: auto;
    margin-top: 300px;
    width: 900px;
    box-shadow: 0px 0px 4px 0px #a4a4a4;
  }
  .header{
    background-color: rgba(0, 0, 0, 0.367);
    height: 63px;
  }
  .kinobar{
    position: absolute;
    margin-left: 15px;
    margin-top: 15px;
    float: left;
  }
  .formBox{
    padding-left: 200px;
    padding-top: 15px;
  }
  .searchField{
    height: 5px;
    padding: 10px;
    border: #000000 1px;
    width: 350px;
    background: rgb(0, 0, 0);
    color: #ffffff;
  }
  .searchBtn{
    height: 25px;
    width: 99px;
    background: rgb(0, 0, 0);
    color: #ffffff;
  }
  .login{
    height: 40px;
    position: absolute;
    right: 256px;
    top: 306px;
    width: 193px;
    text-align: right;
    display: flex;
  }
  .wordOne{
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  .wordTwo{
    font-size: 12px;
    color: #a4a4a4;
    text-decoration: none;
  }
  .wordLog{
    height: 24px;
    float: right;
  }
  .avatar{
    height: 51px;
    width: 51px;
    position: relative;
    float: right;
    margin-left: 14px;
    overflow: hidden;
  }
  .clear{
    background-color: rgb(255 117 26);
    height: 1px;
    width: 900px;
    margin-top: 23px;
  }
  .topnav {
    overflow: hidden;
    background-color: rgb(15, 15, 16);
    height: 45px;
  }
  .topnav a {
    float: left;
    display: block;
    color: #858585;;
    text-align: center;
    padding: 16px 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
} 
.topnav a:hover {
    background-color: black;
    color: rgb(255 117 26);
}
.content{
    background: white;
    padding-top: 12px; 
    width: 900px;
    height: 1920px;
    margin-top: 45px;
}
.left{
    width: 600px;
    float: left;
    padding-left: 15px;
}
.image{
    height: 80px;
    width: 80px;
}
a{
    text-decoration: none;
}
.right{
  float: right;
  width: 280px;
  height: 1500px;
}
.firstRow{
  margin-bottom: 10px;
  height: 1000px;
}
.rows_header{
  background-image: url('../img/b_title.png');
  background-position: 0px -72px;
  height: 34px;
  border-right: 4px rgb(255 117 26) solid;
}
.rows_icon{
  width: 48px;
  height: 42px;
  background-image: url('../img/cat_ic.png');
}
.rows_title{
  padding-left: 50px;
  padding-top: 10px;
  font-size: 17px;
  font-weight: bold;
}
.rows_content{
  padding-right: 15px;
  padding-top: 8px;
}
.rows_content hr{
  height: 1,5px;
}
.select{
  border: 2px solid black;
  border-radius: 4px;
  width: 130px;
  height: 25px;
  text-align: center;
  margin-left: 58px;
  padding-bottom: 2px;
}
.genre {
  background-color: rgb(255, 255, 255);
  height: 590px;
  width: 280px;
}
.genre a {
  height: 23px;
  width: 120px;
  float: left;
  display: block;
  text-align: left;
  text-decoration: none;
  font-size: 11px;
  font-weight: bold;
  margin: 0 5px 5px 0px;
  padding: 7px 0 0 7px;
} 
.blue{
  color: rgb(30, 0, 200);
}
.blue:hover {
  background-color: rgba(208, 208, 208, 0.514);
  color: rgb(30, 0, 200);
}
.red{
  color: rgb(239, 10, 45);
}
.red:hover{
  background-color: rgba(208, 208, 208, 0.514);
  color: rgb(239, 10, 45);
}
.green{
  color: rgb(20, 174, 0);
}
.green:hover{
  background-color: rgba(208, 208, 208, 0.514);
  color: rgb(20, 174, 0);
}
.gray{
  color: rgb(79, 79, 79);
}
.gray:hover{
  background-color: rgba(208, 208, 208, 0.514);
  color: rgb(155, 162, 154);
}
.expect{
  background-image: url('../img/b_title.png');
  background-position: 0px -72px;
  height: 34px;
  border-right: 4px rgb(255 117 26) solid;
}
.expect_icon{
  width: 48px;
  height: 42px;
  background-image: url('../img/skoro_ic.png');
}
.expect_title{
  padding-left: 50px;
  padding-top: 10px;
  font-size: 17px;
  font-weight: bold;
}
.firstBoard{
  float: left;
  width: 130px;
}
.firstBoard img{
  height: 180px;
  width: 120px;
  border: solid 1px #5E5E5E;
  padding: 1px;
  margin: 12px 10px 10px 10px;
}
.film{
  background-image: url('../img/b_title.png');
  background-position: 0px -72px;
  height: 34px;
  border-right: 4px rgb(255 117 26) solid;
}
.film_title{
  padding-left: 10px;
  padding-top: 10px;
  font-size: 17px;
  font-weight: bold;
}
.film_content{
  padding-top: 220px;
}
.films {
  background-color: rgb(255, 255, 255);
  height: 350px;
  width: 280px;
}
.films a {
  color: #000;
  height: 23px;
  width: 250px;
  float: left;
  display: block;
  text-align: left;
  text-decoration: none;
  font-size: 11px;
  font-weight: bold;
  margin: 2px 5px 3px 0px;
  padding: 7px 0 0 7px;
} 
.films a:hover {
  background-color: rgba(208, 208, 208, 0.514);
  color: rgb(155, 162, 154);
}
.section_content{
  padding-right: 15px;
  padding-top: 8px;
  margin-top: -40px;
}
.section{
  background-image: url('../img/b_title.png');
  background-position: 0px -72px;
  height: 34px;
  width: 277px;
  border-right: 4px rgb(255 117 26) solid;
}
.banner{
  width: 277px;
  display: block;
  height: 144px;
  position: relative;
  float: left;
  border-top: 4px #ff8825 solid;
  margin-top: 5px;
}
.banner_title{
  height: 30px;
  background: #f1f1f1;
  position: absolute;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10px;
  left: -6px;
  bottom: 20px;
  line-height: 30px;
  padding: 0 10px 0 10px;
  border-right: 4px rgb(255 117 26) solid;
}
.new_content{
  padding-top: 165px;
}
footer{
  text-align: center;
  padding-left: 300px;
  padding-top: 30px;
  text-decoration: none;
  float: left;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}
footer a{
  color: rgb(255, 255, 255);
}
.topnav span a{
  color:#f2f6ff;
    font-size: 13px;
    text-transform: uppercase;
    background-color: #0b0b0b;
    font-weight: bold;
}
.topnav span a:hover{
  background-color: black;
    color: rgb(255 117 26);
}
