.left{
    width: 600px;
    float: left;
    padding-left: 15px;
    margin-bottom: 10px;
}
.filmTitle{
    margin-bottom: 15px;
    position: relative;
    border-bottom: 3px #ff751a solid;
    padding-bottom: 10px;
    font-size: 22px;
    color: #000;
}
.films_banner{
    position: relative;
    width: 600px;
    float: left;
    margin-right: 20px;
    margin-bottom: 15px;
}
.main{
    position: relative;
}
.box{
    margin-right: 20px;
    margin-bottom: 15px;
    width: 277px;
    display: block;
    height: 144px;
    position: relative;
    float: left;
    border-top: 4px #ff8825 solid;
}
.box_title{
    height: 30px;
    background: #f1f1f1;
    position: absolute;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
    left: -6px;
    bottom: 20px;
    line-height: 30px;
    padding: 0 10px 0 10px;
    border-right: 4px rgb(255 117 26) solid;
    color: #000;
    box-shadow: 0px 0px 9px 0px #6f6c6c;
}
.box_title:hover{
    color: rgb(160, 164, 155);
}
.bestFilms{
    font-size: 22px;
    color: #000;
    text-align: center;
}
.paragraph{
    font-size: 11px;
}



.content {
    background-color: white;
    padding-top: 15px;
  
  }
  
  
  /************left_col**********/
  .left_col {
    width: 70%;
    float: left;
    background-color: var(--bg-color);
   
  }
  
  /* new_movies*/
  .new_movies {
    background-color: #eaeaea;
    display: flex;
    padding-left: 17px;
    position: relative;
    border-bottom: 2px #ff751a solid;
  }
  
  .new_movies p {
    font-size: 1rem;
    font-weight: bold;
    line-height: 36px;
    background-color: #eaeaea;
    padding-left: 10px;
  }
  
  /*cl_box_in  for all*/
  
  .cl_box_in{
    padding: 15px 0px;
    margin-bottom: 5px;
  }
  
  /*carousel*/
  
  .carousel{
    position: relative;
  }
  
  .carousel_in{
    overflow: hidden;
    position: relative;
  }
  
  #carousel {
    margin: 0 auto;
    width: 560px;
    height: 184px;
    overflow: hidden;
    margin-left: 18px;
  
  }
  
  /*movie-container*/
  .movie-container{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
  }
  .movie-container img{
  
      position: relative;
      height: 184px;
      width: 124px;
      margin: 0 5px 10px 5px;
      border: solid 1px #5E5E5E;
      padding: 1px;
  }
