 
a{
    font-size: 120%;
    color: rgb(175, 175, 175);
    font-weight: bold;
    text-decoration: none;
}
p{
    margin: 10px 0;
}
form{
    margin: 100px auto;
    width: 100% ;
    
    flex-direction: column;
    width: 400px;

}
.inp{
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;

}
input{
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
  
}
/*.button{
    width: 100%;
     
    padding: 10px;
    background: #e3e3e3;
    border: unset;
    cursor: pointer;
 
}
*/
.btn-1,
.btn-1 *,
.btn-1 :after,
.btn-1 :before,
.btn-1:after,
.btn-1:before {
  border: 0 solid;
  box-sizing: border-box;
  width: 100%;
}
.btn-1 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: rgb(175, 175, 175);
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 0.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}
.btn-1:disabled {
  cursor: default;
}
.btn-1:-moz-focusring {
  outline: auto;
}
.btn-1 svg {
  display: block;
  vertical-align: middle;
}
.btn-1 [hidden] {
  display: none;
}
.btn-1 {
  border-radius: 99rem;
  border-width: 2px;
  padding: 0.8rem 3rem;
}
.btn-1:hover {
  color: rgb(0, 0, 0);
}
 
.msg {
    border: 2px solid #fac864;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.logout{
    
}
.logout,
.logout *,
.logout :after,
.logout :before,
.logout:after,
.logout:before {
  border: 0 solid;
  box-sizing: border-box;
}
.logout {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: rgb(175, 175, 175);
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 0.1;
  width: 150px;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
.logout:disabled {
  cursor: default;
}
.logout:-moz-focusring {
  outline: auto;
}
.logout svg {
  display: block;
  vertical-align: middle;
}
.logout [hidden] {
  display: none;
}
.logout {
  border: 1px solid;
  border-radius: 999px;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  -webkit-mask-image: none;
  overflow: hidden;
  padding: 1.2rem 3rem;
  position: relative;
  text-transform: uppercase;
}
.logout:hover {
  -webkit-animation: pulse 0.5s;
  animation: pulse 0.5s;
  box-shadow: 0 0 0 2em transparent;
}
@-webkit-keyframes pulse {
  25% {
    box-shadow: 0 0 0 0 rgb(236, 235, 235);
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #fff;
  }
}



@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #24262b;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
  .home{
    display: none;
  }
  .footer{
    width: 900px;
  }
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }

  .form{
    width: 100%;
  }
  .header{
    width: 1000px;
  }
 
}
@media (max-width: 204px) {
  .home{
    display: none;
  }
  .footer{
    
    width: 300px;
  }
  
  .footer-col {
    width: 100%;
    margin-bottom: 15px;
     
  }
  .form{
    width: 100%;
  }
  .header{
    width: 300px;
  }
}
